<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config"
		doc:id="e978f09b-3453-4650-a84b-e6e313eddda3" basePath="${api.basepath}" doc:description="HTTP Listener Config">
		<http:listener-connection host="${http.host}" port="${http.port}" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="a27d1052-13f9-48ce-ba64-3818afbacf46"
		file="config/properties.yaml" doc:description="Global Configurations" />
	<http:request-config name="Anypoint_Platform_HTTP_Request_configuration" doc:name="HTTP Request configuration"
		doc:id="c1266ce9-484d-4725-a26e-9f6c72962c60" doc:description="Anypoint Platform HTTP Request Configuration">
		<http:request-connection protocol="HTTPS" host="${platformApi.host}" port="${platformApi.port}" />
	</http:request-config>
	<apikit:config name="anypoint-access-management-config" api="anypoint-access-management.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    </mule>
